

* {
  box-sizing: border-box;
  margin: 0;  
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: antiquewhite;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-weight: 100;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 600px;
  max-width: 90rem;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container1 {
  position: absolute;
  top: 92%;
  left: 50%;
  margin: 1rem auto auto auto;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
}

table {
  width: 80rem;
  height: 50rem;
  border-collapse: separate;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  border: 1px solid #5f2c82;

}
th {
  text-align: center;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
.data {
  display: inline-block;  
}
.global {
  display: flex;
  justify-content: center;
  color: white;
  transform: translate(-35%, 39rem);
}
.input {
  margin-left: 2px;
  border-radius: 5px;
}
.column {
  margin: 1rem;
}
.button {
  text-align: center;
  color: #5f2c82;
  padding: 5px;
  background-color: antiquewhite;
  border-radius: 5px;
}
.button:disabled {
  opacity: 0.5;
}
@media (max-width: 600px) {
  body {
    height: 100%;
    width: 100%;
  }
  .container {
    max-width: 100%;
    max-height: 100%;
    margin-top: 1rem;
  }
  .global {
    margin-top: 2rem;
  }
  table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0;
  }
  .container1 {
    display: block;
    max-height: 2rem;
    max-width: fit-content;
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  body {
    height: 100%;
    width: 100%;
  }
  .container {
    width: 100%;
    max-height: 70%;
    overflow: scroll;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .global {
    margin: 0;
    transform: translate(0, 340%);
  }

  table {
    width: 80%;
    height: 100%;
    border-collapse: separate;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: scroll;
  }
  .container1 {
    display: flex;
    gap: 3px;
    transform: translate(-50%, -90%);
    max-height: fit-content;
  }
}

.navHeading {
  color: gray;
  font-size: xx-large;
}
.navHeadingSym {
  color: gray;
  font-size: xx-large;
  margin-left: 5px;
}

.navvy {
  display: flex;
  margin-bottom: 8px;
  background-color: yellowgreen;
  z-index: 50;
}
.navDiv {
  margin: auto 4px;
  display: flex;
  justify-items: center;
}
.navItem {
  display: flex;
  justify-items: center;
  margin-right: 16px;
}
.datepicker{
  background-color: whitesmoke;
  border-radius: 5px;
  margin-left: 5px;
}

